body {
  margin: 0 !important;
  padding-top: 50px;
}

/* navbar */
@media(min-width:992px) {
  .navbar-expand-lg .navbar-collapse {
    width: 100%;
    
  }
}

.navbar-nav {
  margin: auto !important;
  display: flex;
  justify-content: space-around;
  }

  .nav-container {
    padding: 16px;
  }

/* navbar */


/* hero */
.hero {
  background-color: #f8f8f8;
  width: 100%;
}


.card-img-top {
  width:600px;
  height:300px;
  
}



/* hero */


/* how content */
.how {
  width: 70%;
}

@media(max-width:768px) {
  .how {
    width: 100%;
    
  }
} 
/* how content */


/* carousel */
.carou-img {
  height: 500px;
}

.carou-container {
 width: 70%;
 /* margin-top: 30px;
 margin-bottom: 30px; */
}

.carou-fluid {
  background-color: #f8f8f8;
}


@media(max-width:768px) {
  .carou-container {
    width: 100%;
    
  }
}    
    
.title {
  margin-bottom: 50px;
}

/* carousel */

/* association  */
.asso-container {
  width: 70%;
  
}

@media(max-width:768px) {
  .asso-container {
    width: 100%;
    
  }
}

.asso-main {
  background-color: #f8f8f8;
}



/* association  */


/* footer */
.footer-main {
  background-color: #484848;
  color: white;
}

.footer-container {
  width: 80%;
}

.blue-title {
  /* color:#82bddf; */
  color: #02a95c;
}

/* footer */
