body {
  margin: 0 !important;
  padding-top: 50px;
}

/* navbar */
@media(min-width:992px) {
  .navbar-expand-lg .navbar-collapse {
    width: 100%;
    
  }
}

.navbar-nav {
  margin: auto !important;
  display: flex;
  justify-content: space-around;
  }

  .nav-container {
    padding: 16px;
  }

/* navbar */


/* hero */
.hero {
  background-color: #f8f8f8;
  width: 100%;
}


.card-img-top {
  width:100%;
  height:300px;
  
}


  
  


/* hero */

/* how content */

