body {
  margin: 0 !important;
  padding-top: 50px;
}

/* navbar */
@media(min-width:992px) {
  .navbar-expand-lg .navbar-collapse {
    width: 100%;
    
  }
}

.navbar-nav {
  margin: auto !important;
  display: flex;
  justify-content: space-around;
  }


  .cart {
    position: relative;
  }

  .cartAmount {
    position: absolute;
    top: 0;
    right: 0;
    color: #6fd6ff;
    padding: 1px;
  }



  @media(max-width:768px) {
    .cartAmount {
      position: absolute;
      left: 15px;
      top: 0px;
      
    }
  }
  /* .nav-container {
    padding: 16px;
  } */

/* navbar */


/* hero */
.hero {
  background-color: #f8f8f8;
  width: 100%;
}


.card-img-top {
  width:600px;
  height:300px;
  
}



/* hero */


/* how content */
.how {
  width: 70%;
}

@media(max-width:768px) {
  .how {
    width: 100%;
    
  }
} 
/* how content */


/* carousel */
.carou-img {
  height: 500px;
}

.carou-container {
 width: 70%;
 /* margin-top: 30px;
 margin-bottom: 30px; */
}

.carou-fluid {
  background-color: #f8f8f8;
}


@media(max-width:768px) {
  .carou-container {
    width: 100%;
    
  }
}    
    
.title {
  margin-bottom: 50px;
}

/* carousel */

/* association  */
.asso-container {
  width: 70%;
  ;
  
}

@media(max-width:768px) {
  .asso-container {
    width: 100%;
    
  }
}





/* association  */


/* footer */
.footer-main {
  background-color: #484848;
  color: white;
}

.footer-container {
  width: 80%;
}

.blue-title {
  /* color:#82bddf; */
  color: #6fd6ff;
}

@media(max-width:768px) {
  .footer-container {
    width: 100%;
    
  }
}

/* footer */

/* contact */
.contact-container {
  width: 70%;
}

.contact-main {
  background-color: #f8f8f8;
}

@media(max-width:768px) {
  .contact-container {
    width: 100%;
    
  }
}

/* contact */

/* lottery */
.lottery-main {
  margin-top:100px ;}




.details {
  display: flex;
  flex-direction: column;
  padding: 16px;
}


.round {
  border-radius: 4px 4px 0 0;
}





.price-quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  
}

.buttons {
  display: flex;
  gap: 8px;
  font-size: 20px;
  
}

.cart-btn {
  width :150px
}

.bi-dash-lg {
  color: red;
  cursor: pointer;

}

.bi-plus-lg {
  color: green;
  cursor: pointer;
}

/* lottery */

/* cart */
.cart-main {
  margin-top: 100px;
  height: 600px;
}

/* cart */



.bi-x-lg {
  color: red;
  font-weight: bold;
  cursor: pointer;
}

.shopping-cart {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  gap: 15px;
  /* justify-content: center; */
  margin-bottom: 50px;
  
}

.cart-item {
  border: 2px solid black;
  display: flex;
  width:450px
  
}

.title-price-x {
  width: 220px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  
}

.title-price {
  display: flex;
  align-items: center;
  gap : 10px;
  
}

.cart-item-price {
  background-color: #484848;
  color: #6fd6ff;
  border-radius: 4px;
  padding: 3px 6px;
}